@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=News+Cycle&display=swap");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.carousel {
    /* border: 1px solid grey; */
    /* background-image: url(https://image.shutterstock.com/image-vector/index-card-vector-260nw-5345878.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
    /* padding-bottom: 100px; */
}
