@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=News+Cycle&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(359.3deg, rgba(196, 214, 252, 1) 1%, rgba(187, 187, 187, 0) 70.9%);
    /* This drops it for all pages */
    height: 2000px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.carousel {
    /* background-image: url(https://image.shutterstock.com/image-vector/index-card-vector-260nw-5345878.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
    padding-bottom: 100px;
    background-image: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%);
}

.toolbar {
    display: flex;

    justify-content: start;
}

/* ============ Footer CSS =========== */

.footer{
  display: flex;
  justify-content: space-between;
}

.footer a {
    color: white;
}

.footer a:hover {
  color: darkmagenta;
}
